.sidebar
{
font-family:Hatched;
font-size:69px;
-moz-transform:rotate(270deg);
-webkit-transform:rotate(270deg);
position:absolute;
left:-19%;
top:38%;
padding-top:2%;
padding-right:3%;
}
.sided
{
font-family:Hatched;
font-size:14px;
padding-bottom:30px;
padding-right:3px;
top:90px;
left:-8%;
-moz-transform:rotate(270deg);
-webkit-transform:rotate(270deg);
position:absolute;
}